.Erreur
{
    display:flex;
    align-items: center;
    justify-content: flex-start!important;
    color:#F00808;
}
.OK
{
	display:flex;
    align-items: center;
    justify-content: flex-start!important;
	color:#1FA600;
}

.glyphicon-ok
{
	padding-top:8px;
}


.texte
{
    padding-top: 8px;
    margin-left:7px;
}

#AucunRes
{
    font-size: 18px;
}

#AjoutLieu
{
    width:100%;
}


#AjoutCat
{
    width:100%;
}

#SupprCat
{
    width:100%;
}

.Ajout
{
    margin-left: 15px;    
    margin-top: 5px;    
}