<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Application Service Enfant-Jeunesse</title>


    <script src="Ressources/angular.min.js"></script>
    <script src="Ressources/angular-route.js"></script>
    <script src="Ressources/jquery.min.js"></script>
    <script src="Ressources/jquery-ui.min.js" type="text/javascript"></script>
    <script src="Ressources/bootstrap.min.js"></script>
    <script src="./js/jquery-listeners.js"></script>
    
    <link rel="stylesheet" href="Ressources/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/index.css">
    <link rel="stylesheet" href="CSS/modal_ajout.css">
    <link rel="stylesheet" href="CSS/gestion.css">
    <link rel="stylesheet" href="CSS/impression.css" media="print">



</head>

<body ng-app="Planning">


<nav class="navbar navbar-inverse" >
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>
                <a href="#!Planning_Personnel" id="PlanningPersonnel" class="divider-droite" ng-click="selectActive()">
                <span class="glyphicon glyphicon-user"></span> Planning du Personnel</a>
            </li>
            <li>
                <a href="#!Planning_Lieux" id="PlanningLieux" class="divider-droite" ng-click="selectActive()">
                    <span class="glyphicon glyphicon-list-alt"></span> Planning des Lieux
                </a>
            </li>
            <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="" id ="Gestion">
                    <span class="glyphicon glyphicon-cog" ng-click="selectActive()"></span> Gestion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu Dropdown">
                  <li class="Dropdown"><a href="#!Gestion_Personnel" class="Dropdown">Personnel</a></li><br>
                  <li class="Dropdown"><a href="#!Gestion_Lieux" class="Dropdown">Lieux</a></li>
                  <li class="Dropdown"><a href="#!Recap_mois" class="Dropdown">Heures à payer</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div ng-view></div>


<script src="./js/index.js"></script>
<script src="./js/planning1_controller.js"></script>
<script src="./js/modal_controller.js"></script>
<script src="./js/modal_modif_controller.js"></script>
<script src="./js/modal_modiflieu_controller.js"></script>
<script src="./js/modal_ajout_controller.js"></script>
<script src="./js/planning2_controller.js"></script>
<script src="./js/gestion_controller.js"></script>
<script src="./js/gestion_controller2.js"></script>
<script src="./js/gestion_controller3.js"></script>



</body>

</html>