<div ng-init="initGestion3()" class="container-fluid" >
    <div class="container-fluid">
<!-- ==================================== Affichage des Lieux ==================================== --> 
        <div class="col-xs-12">
            <div class="Titre">
                <h1>État Récapitulatif des Heures à payer</h1>
            </div>

            <div class="Titre">
                <h2>{{SelectedCat.Nom_Cat}}</h3>
            </div>

            <div class="Titre">
                <h3>({{SelectionMois.mois}} - {{SelectionAnnee.Annee}})</h3>
            </div>

            <br><br>
            <div class="col-xs-12">
                <div class="col-xs-3 Titre">
                    <div class="col-xs-5">
                        <label class="Exclus">Mois :</label>
                        <br><br><br>
                        <label class="Exclus">Année :</label>
                        <br><br><br>
                        <label class="Exclus">Catégorie :</label>
                    </div>
                    <div class="col-xs-65">
                        <select class="form-control Exclus" ng-model="SelectionMois" ng-options="x.mois for x in Mois" ng-init="SelectionMois=moisact()"></select>
                        <br> 
                        <select class="form-control Exclus" ng-model="SelectionAnnee" ng-options="x.Annee for x in Annees" ng-change="refreshTotaux()"></select>
                        <br>   
                        <select class="form-control Exclus" ng-model="SelectedCat" ng-options="x.Nom_Cat for x in Categories">
                            
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                <table class="table table-bordered" >
                    <tr>
                        <th class ="Entete"> Nom</th>
                        <th class ="Entete"> Prénom</th>
                        <th class ="Entete MoisSelec" colspan="5">Nombre d'heures</th>

                    </tr>
                    <tr ng-repeat="x in Totaux" ng-if="x.Categorie== SelectedCat.Categorie && x.Mois==SelectionMois.mois">
                        <td class="col-xs-2" >{{x.Nom}}</td>
                        <td class="col-xs-2" >{{x.Prenom}}</td>
                        <td class="col-xs-2" >{{x.Total}}</td>
                    </tr>
                </table>
                </div>
                <div class="col-xs-3"></div>             
            </div>
        </div>
    </div>
</div>

