<div ng-init="initGestion3()" class="container-fluid" >
    <div class="container-fluid">
    
<!-- ==================================== Affichage des Lieux ==================================== --> 
        <div class="col-xs-12">
            <div class="Titre">
                <h1>État Récapitulatif des Heures à payer</h1>
            </div>
            <div class="Titre"><h2>(Mois de : {{SelectionMois.mois}} {{Horaires[0].Date_jour[0]+Horaires[0].Date_jour[1]+Horaires[0].Date_jour[2]+Horaires[0].Date_jour[3]}})</h2></div>

            <br><br>
            <div class="col-xs-12">
                <div class="col-xs-3 Titre">
                    <div class="col-xs-6">
                        <label class="Exclus">Choisissez le mois :</label>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control Exclus" ng-model="SelectionMois" ng-options="x.mois for x in Mois" ng-init="SelectionMois=Mois[0]"></select>
                    </div>
                </div>
                <div class="col-xs-6">
                <table class="table table-bordered" >
                    <tr>
                        <th class ="Entete"> Nom</th>
                        <th class ="Entete"> Prénom</th>
                        <th class ="Entete MoisSelec" colspan="5">Nombre d'heures</th>

                    </tr>
                    <tr ng-repeat="x in Employes |orderBy:'Personne'">
                        <td class="col-xs-2"" >{{x.Personne}}</td>
                        <td class="col-xs-2" >{{x.Prenom}}</td>
                        <td class="col-xs-2" ng-bind="total_mensuel(x.IDP,SelectionMois.mois)"></td>
                    </tr>
                </table>
                </div>
                <div class="col-xs-3"></div>             
            </div>
        </div>
    </div>
</div>

