<div id="body" ng-init="initGestion()" class="container-fluid" >
    <div class="container-fluid">


        <!-- ==================================== Barre de recherche ==================================== -->

        <div class="col-xs-12">
            <div class="col-xs-2"></div>
            <div class="col-xs-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Filtre" ng-model="Recherche" >
                </div>
            </div>
            <div class="col-xs-2">
                <button class="btn btn-success date" id="btn-ajouter" ng-click=ajouter()><span class="glyphicon glyphicon-plus"></span> Ajouter</button>
            </div>
            <div class="col-xs-2"></div>
        </div>


        <!-- ==================================== Affichage du Personnel ==================================== --> 
        <div class="col-xs-12">

            <div class="col-xs-12">
                <table class="table table-bordered" ng-if="include(Recherche,Employes)">
                    <tr>
                        <th class ="Entete"> Nom </th>
                        <th class ="Entete"> Heures </th>
                        <th class ="Entete"> CA </th>
                        <th class ="Entete"> CA (avt Avr.) </th>
                        <th class ="Entete"> Nb Maladies </th>
                        <th class ="Entete"> RTT </th>
                        <th class ="Entete MoisSelec" colspan="5">Actions</th>

                    </tr>
                    <tr ng-repeat="x in Employes | filter:Recherche" id={{x.IDP}}>
                        <td class="col-xs-2">{{x.Personne}}</td>
                        <td class="col-xs-2">{{x.Total}}</td>
                        <td class="col-xs-1">{{x.CA}}</td>
                        <td class="col-xs-2">{{x.CAav}}</td>
                        <td class="col-xs-1">{{x.Maladie}}</td>
                        <td class="col-xs-1">{{x.RTT}}</td>
                        <th class="col-xs-3">
                            <div id="actions">
                                <button type="button" class="btn btn-danger" ng-click="validSuppression(x.IDP)"><span class="glyphicon glyphicon-remove"></span> Supprimer </button>
                                <button type="button" class="btn btn-primary" ng-click="modification(x)"><span class="glyphicon glyphicon-th-list"></span> Modifier </button>
                                <button type="button" class="btn btn-warning" ng-click="redirectPlanning(x)"><span class="glyphicon glyphicon-calendar"></span> Planning </button>
                            </div>
                        </th>
                    </tr>
                </table>
                <br>
                <br>
                <div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <label id="AucunRes" ng-if="!Recherche.length==0 && !include(Recherche,Employes)">Aucun employé ne correspond à votre recherche...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div id="dialog" class="Boxsupp" title="Confirmation">
    <p>Êtes-vous sur de vouloir supprimer cette personne de la base de données ?</p>
</div>


<!-- =============================== Modal Modification d'une Personne =============================== -->

<div class="modal fade" id="Modification" role="dialog" ng-controller="modifCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h3 class="modal-title TitreForm"><b> {{PersonneModif.Personne}}</b></h3>
        </div>

            <div class="modal-body">
                <form charset="UTF-8"  name="myform1">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <label class="col-xs-3 control-label" > Nom :</label>
                    <div class="col-xs-5"><input type="text" type="text" name="ModifNom" ng-model="ModifNom" class="form-control" placeholder="{{PersonneModif.Personne}}" id="NomSubmit1" my-text-only is-empty></div>
                    <div class="col-xs-3">
                            <div class="Erreur" ng-hide="!myform1.ModifNom.$error.textOnly || myform1.ModifNom.$pristine">
                                <span class="glyphicon glyphicon-remove "></span>
                                <label class="texte">Ni chiffres ni charactères spéciaux</label>
                            </div>
                            <div class="OK" ng-hide="myform1.ModifNom.$error.textOnly || myform1.ModifNom.$pristine || !myform1.ModifNom.$error.textTooShort || !myform1.ModifNom.$error.isEmpty">
                                <span class="glyphicon glyphicon-ok "></span>
                            </div>        
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <label class="col-xs-3 control-label"> Heures à faire :</label>
                    <div class="col-xs-5"><input type="text" type="number" name="ModifHeures" ng-model="ModifHeures" class="form-control" placeholder="{{PersonneModif.Total}}" id="HSubmit1" my-is-number is-empty></div>
                    <div class="col-xs-3">
                        <div class="Erreur" ng-hide="!myform1.ModifHeures.$error.number || myform1.ModifHeures.$pristine">
                            <span class="glyphicon glyphicon-remove "></span>
                            <label class="texte">Chiffres seulement</label>
                        </div>
                        <div class="OK" ng-hide="myform1.ModifHeures.$error.number || myform1.ModifHeures.$pristine || !myform1.ModifHeures.$error.isEmpty">
                            <span class="glyphicon glyphicon-ok "></span>
                        </div>        
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-1"></div>
                    <label class="col-xs-3 control-label"> Congés Annuel max  :</label>
                    <div class="col-xs-5"><input type="text" type="number" name="ModifCA" ng-model="ModifCA" class="form-control" placeholder="{{PersonneModif.CA}}" id="CASubmit1" my-is-number is-empty></div>
                    <div class="col-xs-3">
                        <div class="Erreur" ng-hide="!myform1.ModifCA.$error.number || myform1.ModifCA.$pristine">
                            <span class="glyphicon glyphicon-remove "></span>
                            <label class="texte">Chiffres seulement</label>
                        </div>
                        <div class="OK" ng-hide="myform1.ModifCA.$error.number || myform1.ModifCA.$pristine || !myform1.ModifCA.$error.isEmpty">
                            <span class="glyphicon glyphicon-ok "></span>
                        </div>        
                    </div>
                </div>
                <br>
                <div class="row">
                        <div class="col-xs-1"></div>
                        <label class="col-xs-3 control-label"> CA avant Avril max :</label>
                        <div class="col-xs-5"><input type="text" type="number" name="ModifCAav" ng-model="ModifCAav" class="form-control" placeholder="{{PersonneModif.CAav}}" id="CAavSubmit1" my-is-number is-empty></div>
                        <div class="col-xs-3">
                        <div class="Erreur" ng-hide="!myform1.ModifCAav.$error.number || myform1.ModifCAav.$pristine">
                            <span class="glyphicon glyphicon-remove "></span>
                            <label class="texte">Chiffres seulement</label>
                        </div>
                        <div class="OK" ng-hide="myform1.ModifCAav.$error.number || myform1.ModifCAav.$pristine || !myform1.ModifCAav.$error.isEmpty">
                            <span class="glyphicon glyphicon-ok "></span>
                        </div>        
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-2">
                        <button class="btn btn-primary" ng-click="envoyer_modifs()" 
                                ng-disabled="(myform1.ModifNom.$error.textOnly || !myform1.ModifNom.$error.textTooShort &&  myform1.ModifNom.$error.isEmpty) ||
                                             (myform1.ModifHeures.$error.number) ||
                                             (myform1.ModifCA.$error.number) ||
                                             (myform1.ModifCAav.$error.number)">Confirmer
                        </button>
                    </div>
                    <div class="col-xs-5"></div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>


<!-- =============================== Modal Ajout d'une Personne =============================== -->

<div class="modal fade " id="Ajout" role="dialog" ng-controller="ajoutCtrl" >
    <div class="modal-dialog modal-lg rain">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <p class="modal-title TitreForm"> Ajouter une personne</p>
            </div>

            <div class="modal-body">
            <br>
                <form charset="UTF-8"  name="myform">
                <div class="row form-group">
                    <div class="col-xs-1"></div>
                    <label class="col-xs-3 " > Nom :</label>
                    <div class="col-xs-4"><input type="text" type="text" name="AjoutNom" class="form-control" ng-model="AjoutNom" placeholder="Entrez le nom" id="NomSubmit2" required my-text-only></div>
                    <div class="col-xs-4">
                            <div class="Erreur" ng-hide="!myform.AjoutNom.$error.required || myform.AjoutNom.$pristine">
                                <span class="glyphicon glyphicon-remove "></span> 
                                <label class="texte">Champ nécessaire</label>
                            </div>
                            <div class="Erreur" ng-hide="!myform.AjoutNom.$error.textOnly || myform.AjoutNom.$pristine">
                                <span class="glyphicon glyphicon-remove "></span>
                                <label class="texte">Ni chiffres ni charactères spéciaux</label>
                            </div>
                            <div class="OK" ng-hide="myform.AjoutNom.$error.textOnly || myform.AjoutNom.$error.required || !myform.AjoutNom.$error.textTooShort || myform.AjoutNom.$pristine">
                                <span class="glyphicon glyphicon-ok "></span>
                            </div>        
                    </div>
                </div>
                <br><br>
                <div class="row form-group">
                        <div class="col-xs-1"></div>
                        <label class="col-xs-3 control-label"> Heures à faire :</label>
                        <div class="col-xs-4 Erreur">
                            <input type="text" type="text" name="AjoutH" ng-model="AjoutH" class="form-control" placeholder="Entrez le nombre d'heures à faire" id="HSubmit2" required my-is-number>
                        </div>
                        <div class="col-xs-4">
                            <div class="Erreur" ng-hide="!myform.AjoutH.$error.required || myform.AjoutH.$pristine">
                                <span class="glyphicon glyphicon-remove "></span> 
                                <label class="texte">Champ nécessaire</label>
                            </div>
                            <div class="Erreur" ng-hide="!myform.AjoutH.$error.number || myform.AjoutH.$pristine">
                                <span class="glyphicon glyphicon-remove "></span>
                                <label class="texte">Entrez un nombre</label>
                            </div>
                            <div class="OK" ng-hide="myform.AjoutH.$error.number || myform.AjoutH.$error.required || myform.AjoutH.$pristine">
                                <span class="glyphicon glyphicon-ok "></span>
                            </div>
                            
                        </div>
                </div>
                <br><br>
                <div class="row form-group">
                        <div class="col-xs-1"></div>
                        <label class="col-xs-3 control-label"> Congés Annuel :</label>
                        <div class="col-xs-4"><input type="text" type="text" name="AjoutCA" ng-model="AjoutCA" class="form-control" placeholder="Entrez le nombre de CA" id="CASubmit2" required my-is-number></div>
                        <div class="col-xs-4">
                            <div class="Erreur" ng-hide="!myform.AjoutCA.$error.required || myform.AjoutCA.$pristine">
                                <span class="glyphicon glyphicon-remove "></span> 
                                <label class="texte">Champ nécessaire</label>
                            </div>
                            <div class="Erreur" ng-hide="!myform.AjoutCA.$error.number || myform.AjoutCA.$pristine">
                                <span class="glyphicon glyphicon-remove "></span>
                                <label class="texte">Entrez un nombre</label>
                            </div>
                            <div class="OK" ng-hide="myform.AjoutCA.$error.number || myform.AjoutCA.$error.required || myform.AjoutCA.$pristine">
                                <span class="glyphicon glyphicon-ok "></span>
                            </div>
                            
                        </div>
                </div>
                <br><br>
                <div class="row form-group">
                        <div class="col-xs-1"></div>
                        <label class="col-xs-3 control-label"> CA avant Avril :</label>
                        <div class="col-xs-4"><input type="text" type="text" name="AjoutCAav" ng-model="AjoutCAav" class="form-control" placeholder="Entrez le nombre de CA avant Avril" id="CAavSubmit2" required my-is-number></div>
                        <div class="col-xs-4">
                            <div class="Erreur" ng-hide="!myform.AjoutCAav.$error.number || myform.AjoutCAav.$pristine">
                                <span class="glyphicon glyphicon-remove "></span>
                                <label class="texte">Entrez un nombre</label>
                            </div>
                            <div class="OK" ng-hide="myform.AjoutCAav.$error.number || myform.AjoutCAav.$error.required || myform.AjoutCAav.$pristine">
                                <span class="glyphicon glyphicon-ok "></span>
                            </div>
                            
                        </div>
                </div>
                <br><br>

                <div class="row form-group">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-3">
                        <button class="btn btn-primary" ng-click="ajouter_personne()" 
                                ng-disabled="(myform.AjoutNom.$error.required || myform.AjoutNom.$error.textOnly || !myform.AjoutNom.$error.textTooShort || myform.AjoutNom.$pristine) ||
                                             (myform.AjoutH.$error.required || myform.AjoutH.$error.number || myform.AjoutHeures.$pristine) ||
                                             (myform.AjoutCA.$error.required || myform.AjoutCA.$error.number || myform.AjoutCA.$pristine) ||
                                             (myform.AjoutCAav.$error.required || myform.AjoutCAav.$error.number || myform.AjoutCAav.$pristine)">Confirmer
                        </button>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
            </form>
                                                
            </div>
        </div>
    </div>
</div>
