
    <div class="col-xs-2"></div>
    <div class="col-xs-8 Exclus">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Filtre pour les lieux" ng-model="Recherche" >
        </div>
    </div>
    <div class="col-xs-3"></div>



<div id="body" ng-init="initFirst('Animation')">
    <div class="container-fluid">
        <ul>
            <li ng-hide="true" ng-repeat="(count,x) in Calendrier" ng-if="SelectionMois.mois==x.Mois">
                {{x.Date_jour}} <label ng-repeat="y in Horaires" ng-if="y.Date_jour==x.Date_jour && SelectionMois.mois==y.Mois && SelectionPersonne==y.IDP"> :  {{y.NbHeures}} </label>
            </li>
        </ul>
        <div class="col-md-12">
            <table class="table table-bordered" ng-keydown="unableTab($event)">
                    <tr>
                        <td><select class="form-control Exclus" ng-model="SelectionAnnee" ng-options="x.Annee for x in Annees"></select></td>
                        <th class="MoisSelec" colspan="33"><span class="glyphicon glyphicon-calendar calendar"></span> {{SelectionMois.mois}} - {{Annees[0].Annee}}</th>
                    </tr>
                    <tr>
                        <th>
                            
                            <select class="form-control input-md Exclus" id="SelectedPerson" ng-model="SelectionPersonne" ng-change="reset()">
                                <option ng-repeat="(count,x) in Employes" id="{{count}}" value="{{x.IDP}}">{{Employes[count].Personne}}</option>
                            </select>
                            <select class="form-control Exclus" ng-model="SelectionMois" ng-options="x.mois for x in Mois" ng-init="SelectionMois=moisact()" ng-change=refreshCalendrier()></select>
                        </th>
                        <th ng-repeat="x in Calendrier" ng-if="x.Mois==SelectionMois.mois" class='date {{x.Jour}} {{x.Date_jour}}'>
                            {{x.Jour}}
                            <br>
                            {{x.Date_jour[8] + x.Date_jour[9]}}
                        </th>
                        <th class= "date"> Total </th>
                    </tr>
                    <tr ng-class="InOrOut(a.IDL,SelectionPersonne)" ng-repeat="a in Lieux |filter:Recherche">
                        <th class="lieu"> {{a.Lieu}} </th>
                        <td ng-repeat="b in Calendrier" 
                        ng-if="b.Mois==SelectionMois.mois" 
                        ng-class="testclasses(b.Date_jour,a.IDL,SelectionPersonne)" 
                        ng-bind="cellule(b.Date_jour,a.IDL,SelectionPersonne,b.Ferie)" 
                        data-idp="{{SelectionPersonne}}" 
                        data-date="{{b.Date_jour}}" 
                        data-idl="{{a.IDL}}"
                        data-type="Animation"
                        ng-keypress="valide_entrer($event)"
                        ng-click="focusin($event)" 
                        ng-blur="focusout($event)" 
                        contenteditable="{{b.Jour!='Sam' && b.Jour!='Dim' && b.Ferie!=1}}"
                        samedi-dimanche
                        no-right-click></td>
                        <td class="Total" ng-bind="total(a.IDL)"></td>
                    </tr>
        
                    <tr>
                      <th>Ce mois-ci</th>
                      <th rowspan="2" colspan="3"> Heures :</th> <td colspan="3" ng-bind="total_mensuel(SelectionPersonne)">  </td>
                      <th rowspan="2" colspan="2"> RTT :</th> <td colspan="3" ng-bind="rtt_mensuel()">  </td>
                      <th rowspan="2" colspan="4">Nb Maladie :</th> <td colspan="3" ng-bind="maladie_mensuel()"></td>
                      <th rowspan="2" colspan="4">CA av Janvier:</th> <td colspan="3" ng-bind="caav_mensuel()"></td>
                      <th rowspan="2" colspan="3">CA :</th> <td colspan="3" ng-bind="ca_mensuel()"></td>
            </table>
        </div>
    
    </div>
    <div class="container-fluid Exclus">
        <div class="col-xs-5">
            <table class="table table-bordered">
                  <tr>
                      <th colspan="2" id="Nom"> Bilan Annuel : {{Employes[place].Personne }}</th>
                      
                  </tr>
                  <tr>
                      <th class="col-xs-2"> Total des heures : </th>
                      <td class="col-xs-3 affiche">{{Employes[place].Total }}</td>
                  </tr>
                  <tr>
                      <th class="col-xs-2"> RTT Pris : </th>
                      <td class="col-xs-3 affiche" id="RTT">{{Employes[place].RTT}}</td>
                  </tr>
                  <tr>
                      <th class="col-xs-2"> CA avant Janvier : </th>
                      <td class="col-xs-3 affiche">{{Employes[place].CAav }}</td>
                  </tr>
                  <tr>
                      <th class="col-xs-2"> CA : </th>
                      <td class="col-xs-3 affiche">{{Employes[place].CA }}</td>
                  </tr>
                  <tr>
                      <th class="col-xs-2"> Jours de Maladie :</th>
                      <td class="col-xs-3 affiche">{{Employes[place].Maladie }}</td>
                  </tr>
            </table>
        </div>
    </div>
</div>

<!-- ======================================= Modal ======================================= -->

<div class="modal  fade" id="AjoutEtat" role="dialog" ng-controller="modalCtrl" no-right-click>
    <div class="modal-dialog modal-sm">
        <div class="modal-content etat">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b> État</b></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <button class="btn btn-danger col-xs-10" ng-if="Ferie==false" ng-click="affect($event,0)" id="btn-maladie" >Maladie</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-click="affect($event,1)" id ="btn-repos">Repos</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-click="affect($event,2)" id ="btn-demirepos">1/2 Repos</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-click="affect($event,3)" id="btn-ca">CA</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-click="affect($event,4)" id="btn-demica">1/2 CA</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>  
                <div class="row ">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-click="affect($event,5)" id="btn-caavA">CA avant Janvier</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>
                <div class="row ">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-click="affect($event,6)" id="btn-demicaavA">1/2 CA avant Janvier</button>
                    <div class="col-xs-1"></div>
                </div>

                <br>
                <div class="row ">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-click="affect($event,7)" id="btn-ferie">Ajouter un jour férié</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>  
            </div>
        </div>
    </div>
</div>






<div class="modal  fade" id="SuppressionFerie" role="dialog" ng-controller="modalCtrl" no-right-click>
    <div class="modal-dialog modal-sm">
        <div class="modal-content etat">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><b> Suppression de jour férié</b></h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <button class="btn col-xs-10" ng-if="Ferie==false" ng-click="affect($event,8)">Supprimer le jour férié</button>
                    <div class="col-xs-1"></div>
                </div>
                <br>
                
            </div>
        </div>
    </div>
</div>
